<div class= "text-center py-1">
  <span class="secondary-title fs-3">Create a new unique hipster drink</span>
</div>

<%= render "form", cocktail: @cocktail %>

<div class="my-3">
  <%= link_to cocktails_path do %>
    <i class="fas fa-backward icon-link text-success"></i>
  <% end %>
</div>
